:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #fff;
  --CLOUD: #f4f4fd;
  --SLATE: #434455;
  --CORNFLOWER: #e7e9fc;
  --OCEAN: #404bbf;
}

/* GENERAL STYLES */
body {
  font-family: "Roboto", sans-serif;
}
.header-three {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.description {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 24px;
}
.container {
  width: 1440px;
}
.d-flex {
  display: flex;
  justify-content: center;
}
.list {
  list-style-type: none;
  display: flex;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* END OF GENERAL STYLES */

/* STUDIO STYLES */
/* HEADER STYLES */
.header {
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--CORNFLOWER);
  background-color: var(--WHITE);
}
.header .d-flex {
  align-items: center;
}
.header .list {
  gap: 40px;
}
.link {
  text-decoration: none;
}
.logo-header {
  color: var(--NAVY-BLUE);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
  margin-right: 76px;
}
.logo-header span {
  color: var(--IRIS);
}
.header-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--NAVY-BLUE);
  letter-spacing: 0.32px;
}
.header-link:hover {
  color: var(--IRIS);
}
.header-link:focus {
  color: var(--IRIS);
}
a[href="mailto:info@devstudio.com"] {
  font-size: 16px;
  color: var(--SLATE);
  font-weight: 400;
  letter-spacing: 0.32px;
}
a[href="tel:+11(000)111-11-11"] {
  font-size: 16px;
  color: var(--SLATE);
  font-weight: 400;
  letter-spacing: 0.32px;
}
a[href="mailto:info@devstudio.com"]:hover {
  color: var(--IRIS);
}
a[href="tel:+11(000)111-11-11"]:hover {
  color: var(--IRIS);
}
a[href="mailto:info@devstudio.com"]:focus {
  color: var(--IRIS);
}
a[href="tel:+11(000)111-11-11"]:focus {
  color: var(--IRIS);
}
/* END OF HEADER STYLES */
/* FIRST SECTION STYLES */
.hero {
  background-color: var(--NAVY-BLUE);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 292px;
}
.hero-header {
  color: var(--WHITE);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
}
.hero-button {
  background-color: var(--IRIS);
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}
.hero-button:hover {
  cursor: pointer;
  background-color: var(--SLATE);
}
.hero-button:focus {
  background-color: var(--SLATE);
}
/* END OF FIRST SECTION STYLES */
/* VISSION MISSION STYLES */
.vission-mission-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--NAVY-BLUE);
}
.vission-mission-description {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.vission-mission {
  flex-direction: column;
}
.vission-mission .list {
  justify-content: center;
  gap: 24px;
}
/* END OF VISSION MISSION STYLES */
/* WHAT ARE WE DOING SECTION STYLES*/
.subheader {
  text-align: center;
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
}
.services .list {
  gap: 24px;
}
/* END OF WHAT ARE WE DOING SECTION STYLES*/
/* OUR TEAM SECTION STYLES */
.team {
  background-color: var(--CLOUD);
}
.team .list {
  gap: 24px;
}
.team-members-item {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* END OF OUR TEAM SECTION STYLES */
/* FOOTER STYLES */
.footer {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0px 100px 156px;
}
.logo-footer {
  color: var(--CLOUD);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
}
.logo-footer span {
  color: var(--IRIS);
}
.p-footer {
  color: var(--CLOUD);
}
/* END OF FOOTER STYLES */
/* END OF STUDIO STYLES */

/* PORTFOLIO STYLES */
/* PORTFOLIO MAIN MENU STYLES */
.portfolio-menu {
  align-items: center;
}
.portfolio-menu-list {
  gap: 24px;
  justify-content: center;
}
.portfolio-menu-button {
  color: var(--IRIS);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  background-color: var(--CLOUD);
  border-color: var(--CORNFLOWER);
  border-radius: 4px;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  gap: 24px;
}
.portfolio-menu-button:hover {
  background-color: var(--OCEAN);
  color: var(--WHITE);
}
/* END OF PORTFOLIO MAIN MENU STYLES */
/* SERVICES MENU STYLES */
.services-menu {
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.services-menu-item {
  border: 1px solid var(--CORNFLOWER);
  background-color: var(--WHITE);
}
.services-menu-title,
.services-menu-description {
  padding-left: 15px;
}

/* END OF SERVICES MENU STYLES */
/* END OF PORTFOLIO STYLES */
